﻿@model BlobsViewModel
@{
    ViewData["Title"] = "ImageDetail";
}


<div class="container">
    <h2 class="text-center">Image Detail</h2>
    <hr />
    <div class="text-center">
        <h4 class="text-center">@Model.blob.Name.Substring(Model.blob.Name.LastIndexOf('-') + 1)</h4>
        <img src="@Model.blob.Uri" alt=">@Model.blob.Name" />
        <hr />
        <div class="form-group">
            @Html.ActionLink("Back", "MediaIndex", "Media", null, new { @class = "btn btn btn-primary" })
        </div>
    </div>
</div>