﻿@model BlobsViewModel

@{
    ViewData["Title"] = "MediaIndex";
}


<div class="container">
    <h3 class="text-center">Employee Photo Storage</h3>
    <hr />
    @if (TempData["noticeDeleted"] != null)
    {
        <div class="messageDeleted text-center">@TempData["noticeDeleted"]</div>
    }
    @if (TempData["noticeCreated"] != null)
    {
        <div class="messageCreated text-center">@TempData["noticeCreated"]</div>
    }
    <div class="text-center">
        @Html.ActionLink("Upload new image", "Upload", "Media", null, new { @class = "btn btn btn-success" }) |
        @Html.ActionLink("Upload new video", "UploadVideo", "Media", null, new { @class = "btn btn btn-success" })
    </div>
    <br />
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("Image Name")
                </th>
                <th>
                    @Html.Label("Last Modified")
                </th>
                <th>
                    @Html.Label("Size")
                </th>
                <th>
                    @Html.Label("Detail")
                </th>
                <th>
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blob in Model.photoBlobs)
            {
                var LocalTime = blob.Properties.LastModified.Value.UtcDateTime.AddHours(2);
                var ImageSize = (blob.Properties.Length / 1024f);
                var RoundedSize = Math.Round(ImageSize, 2);
                var ImageName = blob.Name.Substring(blob.Name.LastIndexOf('-') + 1);
                <tr>
                    <td class="col-md-3">
                        @ImageName
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => LocalTime)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => RoundedSize) KB
                    </td>
                    <td class="col-md-2">
                        @Html.ActionLink("Show image", "ImageDetail", "Media", null, null, null,
        new { blobName = blob.Name }, new { @class = "btn btn btn-default" })
                    </td>
                    @using (Html.BeginForm("DeleteBlobAsync", "Media", new { blobName = blob.Name }))
                    {
                        <td class="col-md-2">

                            @Html.ActionLink("Download", "Download", "Media", null, null, null,
              new { blobName = blob.Name }, new { @class = "btn btn btn-warning" })
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Do you really want to delete Image @ImageName ?');" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @{string DisplayVideos = "";}
    @{if (Model.videoBlobs.Count() == 0)
        {
            DisplayVideos += "- Video Storage is currently empty";
        }
        else
        {
            DisplayVideos = "";
        }}
    <h3 class="text-center">
        Video Storage @DisplayVideos
    </h3>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("Video Name")
                </th>
                <th>
                    @Html.Label("Last Modified")
                </th>
                <th>
                    @Html.Label("Size")
                </th>
                <th>
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blob in Model.videoBlobs)
            {
                var LocalTime = blob.Properties.LastModified.Value.UtcDateTime.AddHours(2);
                var VideoSize = (blob.Properties.Length / (1024f * 1024f));
                var RoundedSize = Math.Round(VideoSize, 2);
                var VideoName = blob.Name.Substring(blob.Name.LastIndexOf('-') + 1);
                <tr>
                    <td class="col-md-3">
                        @VideoName
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => LocalTime)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => RoundedSize) MB
                    </td>
                    @using (Html.BeginForm("DeleteVideoBlobAsync", "Media", new { blobName = blob.Name }))
                    {
                        <td class="col-md-2">

                            @Html.ActionLink("Download", "DownloadVideo", "Media", null, null, null,
                                     new { blobName = blob.Name }, new { @class = "btn btn btn-warning" })
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Do you really want to delete Image @VideoName ?');" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        setTimeout(function () { $('.messageCreated').fadeOut(); }, 3000);
        setTimeout(function () { $('.messageDeleted').fadeOut(); }, 3000);
    </script>
}





