﻿
@{
    ViewData["Title"] = "Upload";
}

<div class="container">
    <h2 class="text-center">Upload Image</h2>
    <hr />
    <div class="text-center">
        @using (Html.BeginForm("Upload", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Select image in proper format to upload (Image should be named by employee)")
            </div>
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <div class="form-group">
                    <input type="file" name="imageFile" accept=".png,.jpg,.jpeg" class="btn btn-default"
                           data-val="true" data-val-required="File is required" />
                </div>
            </div><br /><br /><br />
            <div class="form-group">
                <input type="submit" value="Upload Image" class="btn btn-success" />
                @Html.ActionLink("Back", "MediaIndex", "Media", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}