﻿
@{
    ViewData["Title"] = "Upload Video";
}

<div class="container">
    <h2 class="text-center">Upload Video</h2>
    <hr />
    <div class="text-center">
        @using (Html.BeginForm("UploadVideo", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Select video in proper format to upload")
            </div>
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <div class="form-group">
                    <input type="file" name="videoFile" accept=".mp4,.avi,.wmv,.mov,.flv,.mpg,.3gp,.asf,.rm,.swf" class="btn btn-default"
                           data-val="true" data-val-required="File is required" />
                </div>
            </div><br /><br /><br />
            <div class="form-group">
                <input type="submit" value="Upload Video" class="btn btn-success" onsubmit="ShowMessage()" />
                @Html.ActionLink("Back", "MediaIndex", "Media", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}