﻿@model Employee

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2 class="text-center">Edit Employee</h2>
    <hr />
    <div class="text-center">
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EmployeeId)
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(FirstName => Model.FirstName, new { @class = "control-label" })
                @Html.EditorFor(FirstName => Model.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(LastName => Model.LastName, new { @class = "control-label" })
                @Html.EditorFor(LastName => Model.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(Salary => Model.Salary, new { @class = "control-label" })
                @Html.EditorFor(Salary => Model.Salary)
            </div>
            <div class="form-group">
                @Html.LabelFor(Age => Model.Age, new { @class = "control-label" })
                @Html.EditorFor(Age => Model.Age)
            </div>
            <div class="form-group">
                @Html.LabelFor(Tasks => Model.Tasks, new { @class = "control-label" })
                @Html.EditorFor(Tasks => Model.Tasks[0])
                @Html.EditorFor(Tasks => Model.Tasks[1])
                @Html.EditorFor(Tasks => Model.Tasks[2])
            </div>
            <div class="form-group">
                @Html.LabelFor(MeetingCenter => Model.MeetingCenter, new { @class = "control-label" })
                <a class="LoadMCDetail" href="javascript:void(0)" data-assigned-id="@ViewBag.MeetingCenterId">@ViewBag.MeetingCenterName</a>
            </div>
            <div class="col-md-4 col-md-offset-4 text-center">
                <div class="form-group">
                    @Html.LabelFor(MeetingRoom => Model.MeetingRoom, new { @class = "control-label" })
                    <select asp-for="MeetingRoom.MeetingRoomId" asp-items="@ViewBag.MeetingRoomsList" class="form-control"></select>
                </div>
            </div><br /><br /><br /><br />
            <div class="form-group">
                @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn btn-primary" })
                <input type="submit" value="Edit" class="btn btn-info" />
            </div>
        }
    </div>
    <div id="MCDetail" class="row">

    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        //Zobrazeni detailu Meeting Centra
        $(function () {
            $(".LoadMCDetail").click(function () {
                $("#MCDetail").load("/home/meetingcenterdetail/", {
                    id: $(this).data('assigned-id')
                });
            });
        })
    </script>
}


