﻿@model Employee

@{
    ViewData["Title"] = "Employee Detail";
}
<div class="container">
    <h2>Detail of Employee - @Model.FullName</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TasksCommaSeperated)
        </dd>
        <dt>
            @Html.Label("Meeting Center")
        </dt>
        <dd>
            <a class="LoadMCDetail btn btn-default" href="javascript:void(0)" data-assigned-id="@Model.MeetingCenter.MeetingCenterId">Show detail of Meeting Center</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingRoom)
        </dt>
        <dd>
            <a class="LoadMRDetail btn btn-default" href="javascript:void(0)" data-assigned-id="@Model.MeetingRoom.MeetingRoomId">Show detail of Meeting Room</a>
        </dd>
    </dl>

    <div>
        <div class="form-group">
            @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn btn-primary" })
        </div>
    </div>

    <div id="MCDetail" class="row">

    </div>

    <div id="MRDetail" class="row">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //Zobrazeni detailu Meeting Centra
        $(function () {
            $(".LoadMCDetail").click(function () {
                $("#MCDetail").load("/home/meetingcenterdetail/", {
                    id: $(this).data('assigned-id')
                });
            });
        })

        //Zobrazeni detailu Meeting Roomu
        $(function () {
            $(".LoadMRDetail").click(function () {
                $("#MRDetail").load("/home/meetingroomdetail/", {
                    id: $(this).data('assigned-id')
                });
            });
        })
    </script>
}

