﻿@model IEnumerable<Employee>


@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h3 class="text-center">Current number of employees in administration: @Model.Count()</h3>
    <hr />
    @if (TempData["noticeDeleted"] != null)
    {
        <div class="messageDeleted text-center">@TempData["noticeDeleted"]</div>
    }
    @if (TempData["noticeCreated"] != null)
    {
        <div class="messageCreated text-center">@TempData["noticeCreated"]</div>
    }
    @if (TempData["noticeUpdated"] != null)
    {
        <div class="messageUpdated text-center">@TempData["noticeUpdated"]</div>
    }
    <div class="text-center">
        @Html.ActionLink("Create new Employee", "Create", "Home", null, new { @class = "btn btn btn-success" })
    </div>
    <br />
    <div class="text-center">
        <a class="LoadSoretdFName btn btn-default" href="javascript:void(0)">Sort by First Name</a>
        <a class="LoadSoretdLName btn btn-default" href="javascript:void(0)">Sort by Last Name</a>
        <a class="LoadSoretdSalary btn btn-default" href="javascript:void(0)">Sort by Salary</a>
        <a class="LoadSoretdAge btn btn-default" href="javascript:void(0)">Sort by Age</a>
    </div>
    <hr />
    <div id="SortedEmployees">

    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("First Name")
                </th>
                <th>
                    @Html.Label("Last Name")
                </th>
                <th>
                    @Html.Label("Salary")
                </th>
                <th>
                    @Html.Label("Age")
                </th>
                <th>
                    @Html.Label("Employee Detail")
                </th>
                <th>
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => employee.FirstName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => employee.LastName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => employee.Salary)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => employee.Age)
                    </td>
                    <td class="col-md-2">
                        @Html.ActionLink("Show Detail", "EmployeeDetails", "Home", null, null, null, new { id = employee.EmployeeId }, new { @class = "btn btn btn-default" })
                    </td>
                    @using (Html.BeginForm("DeleteAsync", "Home", new { id = employee.EmployeeId }))
                    {
                        <td class="col-md-2">
                            @Html.ActionLink("Edit", "Edit", "Home", null, null, null, new { id = employee.EmployeeId }, new { @class = "btn btn btn-info" })
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Do you really want to delete Employee @employee.FullName ?');" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        //Flash messages
        setTimeout(function () { $('.messageDeleted').fadeOut(); }, 3000);
        setTimeout(function () { $('.messageCreated').fadeOut(); }, 3000);
        setTimeout(function () { $('.messageUpdated').fadeOut(); }, 3000);

        //Srovnani zamestnancu podle FirstName
        $(function () {
            $(".LoadSoretdFName").click(function () {
                $("table").hide();
                $("#SortedEmployees").load("/home/EmployeeFNameSorted/");
            });
        })

        //Srovnani zamestnancu podle LastName
        $(function () {
            $(".LoadSoretdLName").click(function () {
                $("table").hide();
                $("#SortedEmployees").load("/home/EmployeeLNameSorted/");
            });
        })

        //Srovnani zamestnancu podle Age
        $(function () {
            $(".LoadSoretdAge").click(function () {
                $("table").hide();
                $("#SortedEmployees").load("/home/EmployeeAgeSorted/");
            });
        })

        //Srovnani zamestnancu podle Salary
        $(function () {
            $(".LoadSoretdSalary").click(function () {
                $("table").hide();
                $("#SortedEmployees").load("/home/EmployeeSalarySorted/");
            });
        })
    </script>
}
