﻿@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.Label("First Name")
            </th>
            <th>
                @Html.Label("Last Name")
            </th>
            <th>
                @Html.Label("Salary")
            </th>
            <th>
                @Html.Label("Age")
            </th>
            <th>
                @Html.Label("Employee Detail")
            </th>
            <th>
                @Html.Label("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => employee.FirstName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => employee.LastName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => employee.Salary)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => employee.Age)
                </td>
                <td class="col-md-2">
                    @Html.ActionLink("Show Detail", "EmployeeDetails", "Home", null, null, null, new { id = employee.EmployeeId }, new { @class = "btn btn btn-default" })
                </td>
                @using (Html.BeginForm("DeleteAsync", "Home", new { id = employee.EmployeeId }))
                {
                    <td class="col-md-2">
                        @Html.ActionLink("Edit", "Edit", "Home", null, null, null, new { id = employee.EmployeeId }, new { @class = "btn btn btn-info" })
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Do you really want to delete Employee @employee.FullName ?');" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>