﻿@model MeetingCenter

<div class="container">
    <div class="row">
        <div class="col-md-6"><h3>Detail of Meeting Center - @Model.Name</h3></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.Name) </strong></div>
        <div class="col-md-2">@Model.Name</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.Address)</strong></div>
        <div class="col-md-2">@Model.Address</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.MeetingRoomsCommaSeperated)</strong></div>
        <div class="col-md-2">@Model.MeetingRoomsCommaSeperated</div>
    </div>
</div>