﻿@model MeetingRoom

<div class="container">
    <div class="row">
        <div class="col-md-6"><h3>Detail of Meeting Room - @Model.Name</h3></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.Name)</strong></div>
        <div class="col-md-2">@Model.Name</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.Capacity)</strong></div>
        <div class="col-md-2">
            @ViewBag.ActualRoomCapacity / @Model.Capacity
            @if (@ViewBag.ActualRoomCapacity == @Model.Capacity)
            {
                @Html.Label(null, "ROOM IS FULL", new { @class = "messageDeleted" })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.Description)</strong></div>
        <div class="col-md-2">@Model.Description</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => Model.MeetingCenter)</strong></div>
        <div class="col-md-2">@Model.MeetingCenter.Name</div>
    </div>
</div>
