﻿@model SettingsViewModel
@{
    ViewData["Title"] = "AllEmployeeSettings";
}

<div class="container">

    <h3 class="text-center">All Employee Application Settings</h3>
    <hr />
    @if (TempData["noticeUpdated"] != null)
    {
        <div class="messageUpdated text-center">@TempData["noticeUpdated"]</div>
    }

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("Employee Last Name")
                </th>
                <th>
                    @Html.Label("Design Theme")
                </th>
                <th>
                    @Html.Label("Language")
                </th>
                <th>
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appSettings in Model.applicationSettings)
            {
                <tr>
                    <td class="col-md-3">
                         @Html.DisplayFor(modelItem => appSettings.PartitionKey)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => appSettings.DesignTheme)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => appSettings.Language)
                    </td>
                    <td class="col-md-3">
                        @Html.ActionLink("Edit", "EditAppSettings", "EmployeeSettings", null, null, null,
                       new { PartitionKey = appSettings.PartitionKey, RowKey = appSettings.RowKey},
                       new { @class = "btn btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3 class="text-center">All Employee Profile Settings</h3>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label("Employee Last Name")
                </th>
                <th>
                    @Html.Label("Nickname")
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th>
                    @Html.Label("Newsletter")
                </th>
                <th>
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profileSettings in Model.profileSettings)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => profileSettings.PartitionKey)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => profileSettings.Nickname)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => profileSettings.Email)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => profileSettings.Newsletter)
                    </td>
                    <td class="col-md-2">
                        @Html.ActionLink("Edit", "EditProfileSettings", "EmployeeSettings", null, null, null,
                       new { PartitionKey = profileSettings.PartitionKey, RowKey = profileSettings.RowKey},
                       new { @class = "btn btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        setTimeout(function () { $('.messageUpdated').fadeOut(); }, 3000);
    </script>
}