﻿@model ProfileSettings
@{
    ViewData["Title"] = "EditProfileSettings";
}

<div class="container">
    <h2 class="text-center">Edit Profile Settings of employee @Model.PartitionKey</h2>
    <hr />
    <div class="text-center">
        @using (Html.BeginForm("EditProfileSettings", "EmployeeSettings", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(modelItem => modelItem.PartitionKey)
            @Html.HiddenFor(modelItem => modelItem.RowKey)
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(FirstName => Model.Nickname, new { @class = "control-label" })
                @Html.EditorFor(FirstName => Model.Nickname)
            </div>
            <div class="form-group">
                @Html.LabelFor(LastName => Model.Email, new { @class = "control-label" })
                @Html.EditorFor(LastName => Model.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(LastName => Model.Newsletter, new { @class = "control-label" })
                @Html.EditorFor(LastName => Model.Newsletter)
            </div>
            <div class="form-group">
                @Html.ActionLink("Back", "AllEmployeeSettings", "EmployeeSettings", null, new { @class = "btn btn btn-primary" })
                <input type="submit" value="Edit" class="btn btn-info" />
            </div>
        }
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}