﻿@model ApplicationSettings

@{
    ViewData["Title"] = "EditApplicattionSettings";
}

<div class="container">
    <h2 class="text-center">Edit Application Settings of employee @Model.PartitionKey</h2>
    <hr />
    <div class="text-center">
        @using (Html.BeginForm("EditAppSettings", "EmployeeSettings", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(modelItem => modelItem.PartitionKey)
            @Html.HiddenFor(modelItem => modelItem.RowKey)
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(FirstName => Model.DesignTheme, new { @class = "control-label" })
                @Html.EditorFor(FirstName => Model.DesignTheme)
            </div>
            <div class="form-group">
                @Html.LabelFor(LastName => Model.Language, new { @class = "control-label" })
                @Html.EditorFor(LastName => Model.Language)
            </div>
            <div class="form-group">
                @Html.ActionLink("Back", "AllEmployeeSettings", "EmployeeSettings", null, new { @class = "btn btn btn-primary" })
                <input type="submit" value="Edit" class="btn btn-info" />
            </div>
        }
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}